@import "variables-functions-and-mixins";
@import "fonts";
@import "smart-grid.sass";
@import "header.scss";
@import "index.scss";
* {
  //font-family: $main-font, Serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1140px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}

.main-block {
  height: auto;
  width: 821px;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 100px;
  padding: 45px 60px 30px 60px;
}

.title {
  color: #494949;
  font-family: Ubuntu;
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
}

//header

header .container {
  display: flex;
  margin-bottom: 20px;
}
.logo {
  height: 92px;
  width: 186px;
  margin-right: 102px;
}
.logo img {
  width: 100%;
  height: auto;
}
.header-top {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 12px;
}

.header-top  .call {
  color: #0F6F00;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
}

.call .fa-mobile-alt {
  height: 21px;
  width: 21px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #0F6F00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}
.header-right {
  width: 100%;
}


header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul a {
  color: #494949;
  font-family: Ubuntu;
  font-size: 15px;
  line-height: 17px;
}
header nav ul a:hover {
  color: #0F6F00;
}

.header-top span {
  color: #494949;
  font-family: Ubuntu;
  font-size: 13px;
  line-height: 14px;
  margin-right: 20px;
}



.desktop-menu {
  height: 50px;
  width: 270px;
  background-color: #0F6F00;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 20px;

}
.desktop-menu .fa-list-ul {
  height: 12px;
  width: 16px;
  color: #fff;
  margin-right: 39px;
}

.desktop-menu a {
  color: #FFFFFF;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.search-block {
  height: 50px;
  width: 100%;
  border-radius: 0 5px 0 0;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  padding-left: 49px;
  position: relative;
}
.search {
  position: relative;
  margin-right: 99px;
}

.search input[type=search] {
  height: 25px;
  width: 596px;
  border: 1px solid #E3E3E3;
  background-color: #FFFFFF;
  padding-left: 17px;
  outline: none;
  font-size: 13px;
  font-family: Ubuntu;
  border-radius: 5px;
  position: inherit;
}
.search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 42px;
  border-radius: 0 5px 5px 0;
  background-color: #0F6F00;
  outline: none;
}

.wish {
  height: 16.89px;
  width: 20px;
  color: #A5A5A5;
  margin-right: 20px;
}

/* Retun page*/
.return-block h3 {
  margin-bottom: 40px;
}

.return-block h5 {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 38px;
}
.return-block p {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 10px;
}


/* Product page*/
.product-block {
  height: 590px;
  width: 1106px;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  background-color: #FFFFFF;
}

/* Order page */



/*main-slider*/


.main-slider {
  width: 78%;
  //height: 422px;/
  border: 1px solid red;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 77px;
}
.main-slider div img {
  width: 100%;
  height: 100%;
  object-fit: contain !important;
}



/*best-product*/
.main-products-container {
  margin-bottom: 50px;
}
.products-container {
  display: flex;
  border-bottom: 1px solid #DEDEDE;
}

.main-products-container .title {
  color: #494949;
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  margin-bottom: 39px;
}

.more {
  height: 40px;
  width: 260px;
  border-radius: 5px;
  background-color: #0F6F00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
}
.more:hover,
.more:active,
.more:visited {
  color: #fff;
}

.product-item {
  width: 296px;
  height: auto;
  border-right: 1px solid #DEDEDE;
  padding: 10px 33px 22px 46px;
}

.product-item:last-child {
  border-right: 0;
}

.product-img {
  height: 122.77px;
  width: 191.31px;
  margin-bottom: 30px;
}
.product-img img {
  width: 100%;
}

.product-name {
  color: #494949;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}
.currently-price {
  color: #BF4444;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  display: block;
  margin-bottom: 10px;
}
.old-price {
  color: #B4B4B4;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 21px;
}


/*Contacts*/

.contacts-block .title {
  margin-bottom: 48px;
}
.contacts-block p {
  color: #494949;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 25px;
}
.hotline-description {
  margin-bottom: 35px;
}

.contact-phone {
  margin-bottom: 38px;
}
.contact-email {
  margin-bottom: 80px;
}

.social-description {
  margin-bottom: 25px;
}
.contacts .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/*SideBar*/

aside.sidebar {
  height: 302px;
  width: 253px;
  border: 1px solid #E3E3E3;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
aside.sidebar a {
  border-bottom: 1px solid #E3E3E3;
  padding: 12px 45px;
  width: 100%;
  color: #494949;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 25px;
}
aside a:last-child {
  border-bottom: none;
}

aside a:hover {
  width: 100%;
  color: #fff;
  background-color: #0F6F00;
}

.breadcrumb {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.breadcrumb a,
.breadcrumb li {
  color: #C0C0C0;
  font-family: Ubuntu;
  font-size: 13px;
  line-height: 13px;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}

/*Help*/

.help-block  .title {
  margin-bottom: 30px;
}
.help-block form .input-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.help-block form input[type=text],
.help-block form input[type=email] {
  height: 45px;
  width: 328px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding-left: 20px;
  outline: none;
  font-family: Ubuntu;
}
.help-block form button[type=submit] {
  height: 55px;
  width: 351px;
  border-radius: 5px;
  background-color: #0F6F00;
  color: #FFFFFF;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  margin-left: auto;
  display: block;
}

.help-block form label {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 7px;
}
.help-block form textarea {
  height: 200px;
  width: 700px;
  border: 1px solid #E3E3E3;
  border-radius: 5px;
  background-color: #FFFFFF;
  resize: none;
  margin-bottom: 23px;
}


/*About*/

.about-block .title {
  margin-bottom: 48px;
}
.about-img {
  height: 311px;
  width: 304px;
  margin-bottom: 44px;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-text {
  width: 51%;
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 25px;
}
.about-decription {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 25px;
}


/*How to use*/

.accordion-toggle {
  cursor: pointer;
  height: 45px;
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 10px;
  color: #494949;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
}
.accordion-content {
  display: none;
  width: 100%;
  padding: 15px 30px;
}
.accordion-content.default {display: block;}

.how-to-use .title {
  margin-bottom: 34px;
}

/* Cart*/
.cart-btn {
  background: transparent;
  border: none;
  outline: none;
}

.modal {
  display: none;
  position: fixed;
  top: 100px;
  height: 752px;
  width: 760px;
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
}

.close-modal {
  color:  #000;
  text-decoration: none;
  float: right;
  position: absolute;
  top: 10px;
  right: 20px
}
.modal-title {
  padding: 22px 40px;
  border-bottom: 1px solid #E3E3E3;
}
.modal-title h4 {
  color: #494949;
  font-family: Ubuntu;
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
}
.cart-item {
  padding: 33px 40px 38px 40px;
  border-bottom: 1px solid #E3E3E3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart-item-img {
  height: 85px;
  width: 85px;
}
.cart-item-img img {
  width: 100%;
}

.cart-product-name {
  color: #494949;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 14px;
}

.cart-product-code {
  color: #C0C0C0;
  font-family: Ubuntu;
  font-size: 12px;
  line-height: 13px;
}

.number-spinner {
  height: 31px;
  width: 100px;
  padding: 0;
  margin: 0;
  border-radius: 15px;
  border: 1px solid #e3e3e3;
  overflow: hidden;
  position: relative;
  display: table;
}

.number-spinner input {
  height: 31px;
  max-height: 31px;
  line-height: 40px;
  font-size: 13px;
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
}

.number-spinner input:focus {
  outline: none;
}

.number-spinner .ns-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
}

.number-spinner .ns-btn a {
  height: 31px;
  min-height: 31px;
  width: 40px;
  padding: 0;
  max-width: 40px;
  line-height: 40px;
  border-radius: 0;
  border: none;
  text-align: center;
  position: relative;
  /*background: #e2e2e2;*/
  color: #333;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.number-spinner .ns-btn .icon-minus:after {
  content: "\002212";
  font-size: 13px;
  line-height: 38px;
  font-weight: 600;
}

.number-spinner .ns-btn .icon-plus:after {
  content: "\00002B";
  font-size: 13px;
  line-height: 38px;
  font-weight: 600;
}

.cart-price {
  color: #494949;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}
.shopping-cart-total {
  padding-top: 20px;
}

.checkout-btn {
  height: 40px;
  width: 443px;
  color: #FFFFFF;
  background: #0F6F00;
  border-radius: 5px;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  outline: none;
  margin: 0 auto;
  display: block;
}
.cart-total-price {
  color: #494949;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
}
.cart .total {
  margin-left: auto;
  width: 200px;
  margin-bottom: 36px;
}
.total p {
  color: #494949;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
}
.cart-footer {
  padding: 0 80px;
}

/*Delivery and payment*/

.delivery-block .title {
  margin-bottom: 40px;
}
.delivery-block h5 {
  color:   #494949;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 38px;
}
.delivery-block p {
  color:   #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 38px;
}

/*Products catalog*/

aside.filter {
  width: 31%;
  height: auto;
  border: 1px solid #E3E3E3;
}
aside.filter h5 {
  color: #494949;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 24px;
}
.filter-price {
  padding: 27px 19px 40px 21px;
  border-bottom: 1px solid #E3E3E3;
}
.filter-price input[type=number] {
  width: 60px;
  height: 25px;
  border: 1px solid #E3E3E3;
  border-radius: 12.5px;
  padding-left: 5px;
  font-size: 14px;
  margin-right: 5px;
}
.filter-price span {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
}
.filter-brand {
  padding: 25px 30px 40px 24px;
  border-bottom: 1px solid #E3E3E3;
}
.filter-brand:last-child {
  border-bottom: none;
}
.filter-brand p {
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}
.filter-brand input[type=checkbox] {
  height: 12px;
  width: 12px;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  background-color: #FFFFFF;
  margin-right: 9px;
}

.products-product-wrap {
  display: flex;
  width: 100%;
  margin-bottom: 70px;
}
.products-list {
  width: 100%;
  border: 1px solid #E3E3E3;
  display: flex;
  flex-wrap: wrap;
}

.product {
  height: 344px;
  width: 33.33%;
  border-right: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  background-color: #FFFFFF;
  padding: 40px 28px 53px 28px;
  position: relative;
}
.product-img {
  height: 123px;
  width: 218px;
}
.product-img img {
  width: 100%;
}
.product-title {
  color: #494949;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}
.product-price {
  color: #BF4444;
  font-family: Ubuntu;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 10px;
}
.product-old-price {
  color: #B4B4B4;
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 21px;
}
.wish-btn {
  position: absolute;
  right: 28px;
  top: 40px;
  height: 16.89px;
  width: 20px;
}


/*Footer*/

footer {
  padding-top: 57px;
  height: auto;
  width: 100%;
  border: 1px solid #E3E3E3;
  background-color: #FFFFFF;
}
footer .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .container ul h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: Ubuntu;
  margin-bottom: 20px;
}
footer .container ul li,
footer .container ul li a{
  color: #494949;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
}

.social p,
.subscribe p{
  color: #B9B9B9;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 20px;
}

footer .d-flex {
  width: 100%;
  justify-content: space-around;
}

.footer-menu {
  margin-bottom: 50px;
}

.footer-search {
  position: relative;
}

.footer-search input[type=search] {
  height: 25px;
  width: 271px;
  border: 1px solid #E3E3E3;
  background-color: #FFFFFF;
  border-radius: 12.5px;
  outline: none;
  padding-left: 20px;
  position: relative;

  font-family: Ubuntu;
  font-size: 12 px;
  font-style: italic;
  line-height: 13px;
}
.footer-search button {
  height: 25px;
  width: 42px;
  border-radius: 0 12.5px 12.5px 0;
  background-color: #0F6F00;
  position: absolute;
  top: 0;
  right: 0;
}
.social-media {
  padding-bottom: 60px;
}
.copyright {
  border-top: 1px solid #E3E3E3;
  padding:35px 0;
}
.copyright a {
  color: #B9B9B9;
  font-family: Ubuntu;
  font-size: 16px;
  line-height: 18px;
}












