<footer>
    <div class="container footer-menu">
        <ul>
            <h5>Компания</h5>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        <ul>
            <h5>Компания</h5>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Доставка и оплата</a></li>
            <li><a href="#">Гарантии</a></li>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Публичная оферта</a></li>
        </ul>
        <ul>
            <h5>Полезная информация</h5>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Новости и статьи</a></li>
            <li><a href="#">Карта сайта</a></li>
            <li><a href="#">Сотрудничество</a></li>
        </ul>
        <ul>
            <h5>График работы Call-центра</h5>
            <li>Пн-Пт: с 09:00 до 20:00</li>
            <li>Сб: с 10:00 до 18:00</li>
            <li>Вс: с 10:00 до 17:00</li>
        </ul>
    </div>
    <div class="container">
        <div class="d-flex social-media">
            <div class="social">
                <p>Мы в социальных сетях :</p>
                <div class="d-flex">
                    <a href="#"><img src="img/fb.svg" alt="fb"></a>
                    <a href="#"><img src="img/instagram.svg" alt="instagram"></a>
                    <a href="#"><img src="img/twitter.svg" alt="twitter"></a>
                    <a href="#"><img src="img/google.svg" alt="google"></a>
                </div>
            </div>
            <form action="" class="subscribe">
                <p>Подпишитесь и получайте акции,<br>
                    новости и спецпредложения</p>
                <div class="footer-search">
                    <input type="search">
                    <button type="submit"><img src="img/send.svg" alt="send"></button>
                </div>
            </form>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <a href="">© Интернет-магазин «TopMarket» 2019</a>
        </div>
    </div>
</footer>