<header>
    <div class="container">
        <div class="logo">
            <a href="index.html">
                <img src="img/logo.png" alt="">
            </a>
        </div>
        <div class="header-right">
            <div class="header-top">
                <div>
                    <span>(044) 333-24-44</span>
                    <span>(055) 310-14-24</span>
                </div>
                <div>
                    <a href="#" class="call"><i class="fas fa-mobile-alt"></i>Перезвоните мне</a>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="delivery.html">Доставка и оплата </a></li>
                    <li><a href="products.html">Товары</a></li>
                    <li><a href="how-to-use.html">Для пользователей</a></li>
                    <li><a href="help.html">Помощь</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                    <li><a href="about.html">О нас</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="desktop-menu">
                <a href="#">
                    <i class="fas fa-list-ul"></i>
                    Каталог товаров
                </a>
            </div>
            <div class="search-block">
                <div class="search">
                    <input type="search" placeholder="Найдите интересующий вас товар">
                    <button type="submit"><img src="img/search.svg" alt="search"></button>
                </div>
                <a href="#" class="wish"><i class="fas fa-heart"></i></a>

                <button class="show-modal  cart-btn"><img src="img/cart.svg" alt="cart"></button>
            </div>
        </div>
    </div>

    <div class="modal">
        <a class="close-modal" href="#">X</a>
        <div class="modal-title"><h4>Корзина с товаром</h4></div>
        <div class="cart-body">
            <div class="cart-item">
                <div class="cart-item-img">
                    <img src="img/product.png" alt="">
                </div>
                <div class="cart-pruduct-info">
                    <h5 class="cart-product-name">Холодильник Vestfrost CX263W</h5>
                    <p class="cart-product-code">Код: 1292354</p>
                </div>
                <div class="amount">
                    <form class="number-spinner">
						<span class="ns-btn">
		  					<a data-dir="dwn"><span class="icon-minus"></span></a>
  						</span>
                        <input type="text" class="pl-ns-value" value="1" maxlength=2>
                        <span class="ns-btn">
		  					<a data-dir="up"><span class="icon-plus"></span></a>
  						</span>
                    </form>
                </div>
                <div class="cart-price">7 999 грн</div>
                <a href="#" class="delete" ><img src="img/delete.svg" alt="delete"></a>
            </div>
            <div class="cart-item">
                <div class="cart-item-img">
                    <img src="img/product.png" alt="">
                </div>
                <div class="cart-pruduct-info">
                    <h5 class="cart-product-name">Холодильник Vestfrost CX263W</h5>
                    <p class="cart-product-code">Код: 1292354</p>
                </div>
                <div class="amount">
                    <form class="number-spinner">
						<span class="ns-btn">
		  					<a data-dir="dwn"><span class="icon-minus"></span></a>
  						</span>
                        <input type="text" class="pl-ns-value" value="1" maxlength=2>
                        <span class="ns-btn">
		  					<a data-dir="up"><span class="icon-plus"></span></a>
  						</span>
                    </form>
                </div>
                <div class="cart-price">7 999 грн</div>
                <a href="#" class="delete" ><img src="img/delete.svg" alt="delete"></a>
            </div>
            <div class="cart-item">
                <div class="cart-item-img">
                    <img src="img/product.png" alt="">
                </div>
                <div class="cart-pruduct-info">
                    <h5 class="cart-product-name">Холодильник Vestfrost CX263W</h5>
                    <p class="cart-product-code">Код: 1292354</p>
                </div>
                <div class="amount">
                    <form class="number-spinner">
						<span class="ns-btn">
		  					<a data-dir="dwn"><span class="icon-minus"></span></a>
  						</span>
                        <input type="text" class="pl-ns-value" value="1" maxlength=2>
                        <span class="ns-btn">
		  					<a data-dir="up"><span class="icon-plus"></span></a>
  						</span>
                    </form>
                </div>
                <div class="cart-price">7 999 грн</div>
                <a href="#" class="delete" ><img src="img/delete.svg" alt="delete"></a>
            </div>
            <div class="shopping-cart-total">
                <div class="total">
                    <p>Итого:</p>
                    <span class="cart-total-price">35 699 грн</span>
                </div>
                <button class="checkout-btn" type="submit">Оформить заказ</button>
            </div>
        </div>
        <div class="cart-footer">

        </div>
    </div>
</header>

